@font-face {
	font-family: "John";
	src: url('../font/NJFont.ttf');
}

body {
	width:50%;
	margin: 150px auto auto auto;
	font-family: "John";
	font-size: 45px;
	line-height: 85px;
	color:#a87d41;
	text-align: center;
}

h1 {margin: 0px 0px 0px 0px}

a {
	font-family: "John";
	font-size: 45px;
	color:#6c502a;
	text-decoration: none;
	margin-bottom: 10px;
}

a-hover {
	text-decoration: none;
	color:#6c502a;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 730px) {

body {width:65%;
	margin: 90px auto auto auto;}

h1 {	
	
	font-size: 45px;
	line-height: 40px;
}
}
